<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card my-3 shadow edit-student-form">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <a href="/" class="btn btn-primary">Back</a>
                    <h4>Update <%= student.name %>'s  Data</h4>
                </div>
                <div class="card-body">
                    <form action="/student/update/<%= student.id %> " method="POST" enctype="multipart/form-data">
                        <div class="pb-3">
                            <label>Name</label>
                            <input type="text" class="form-control mt-2" name="name" placeholder="Your Name" value="<%= student.name %>">
                        </div>
                        <div class="pb-3">
                            <label>E-Mail</label>
                            <input type="text" class="form-control mt-2" name="mail" placeholder="Your E-Mail" value="<%= student.mail %>">
                        </div>
                        <div class="pb-3">
                            <label>Phone</label>
                            <input type="text" class="form-control mt-2" name="phone" placeholder="Your Phone" value="<%= student.phone %>">
                        </div>
                        <div class="pb-3">
                            <label>Location</label>
                            <select name="location" class="form-control mt-2">
                                <option value="">-select-</option>
                                <option <% if (student.location == "Dhaka") { %> selected <% } %> value="Dhaka">Dhaka</option>
                                <option <% if (student.location == "Sylhet") { %> selected <% } %> value="Sylhet">Sylhet</option>
                                <option <% if (student.location == "Chittagong") { %> selected <% } %> value="Chittagong">Chittagong</option>
                                <option <% if (student.location == "Barishal") { %> selected <% } %> value="Barishal">Barishal</option>
                                <option <% if (student.location == "Khulna") { %> selected <% } %> value="Khulna">Khulna</option>
                                <option <% if (student.location == "Mymensingh") { %> selected <% } %> value="Mymensingh">Mymensingh</option>
                                <option <% if (student.location == "Rajshahi") { %> selected <% } %> value="Rajshahi">Rajshahi</option>
                                <option <% if (student.location == "Rangpur") { %> selected <% } %> value="Rangpur">Rangpur</option>
                            </select>
                        </div>
                        <div class="pb-3">
                            <label>Profile Image</label>
                            <% if (student.img == "Profile.png") { %>
                                <img src="/images/<%= student.img %> " id="pre_photo" class="mnpmy-3">
                            <% } else { %>
                                <img src="/images/students/<%= student.img %> " id="pre_photo" class="mnpmy-3">
                            <% } %>
                            <input name="student-photo" type="file" id="add_file" style="display: none">
                        </div>
                        <div class="pb-3">
                            <input type="submit" class="form-control btn btn-info" value="Update Data">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>