<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 full-w">
            <div class="card shadow mt-3 rounded">
                <div class="card-header py-3 d-flex justify-content-between align-item-center">
                    <h3>Unverified User</h3>
                    <a href="/" class="btn btn-primary">Back</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped student-data-table py-3">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>E-Mail</th>
                                <th>Phone</th>
                                <th>Verify</th>
                                <th>Photo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% student.sort((a, b) => b.id - a.id).forEach((student, index) => { %>
                                <tr>
                                    <td><%= index + 1 %> </td>
                                    <td><%= student.name %></td>
                                    <td><%= student.mail %></td>
                                    <td><%= student.phone %></td>
                                    <td><a class="btn btn-sm btn-warning" href="/student/verification/<%= student.id %>">Verify with SMS</a></td>
                                    <td>
                                        <% if (student.img == 'Profile.png') { %>
                                            <img src="/images/<%= student.img %> " alt="">
                                        <% } else { %>
                                            <img src="/images/students/<%= student.img %> " alt="">
                                        <% } %>
                                    </td>
                                    <td>
                                        <a class="btn-sm btn-info" href="/student/<%= student.id %> "><i class="fas fa-eye"></i></a>
                                        <a class="btn-sm btn-warning" href="/student/edit/<%= student.id %> "><i class="fas fa-edit"></i></a>
                                        <a class="btn-sm btn-danger delete-btn" href="/student/delete/<%= student.id %> "><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>